* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.container {
    max-width: 1800px;
    width: 100%;
    margin-inline: auto;
    padding: 15px 20px;
}

header>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>ul {
    display: flex;
    align-items: center;
    gap: 6vw;
}

ul>li:first-child {
    border: 1px solid rgba(13, 13, 13, 0.2);
    border-radius: 50px;
    padding: 5px 10px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(13, 13, 13);
}

button {
    background-color: #0E1A2D;
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: lighter;
}

.burger-menu {
    display: none;
    font-size: 5vw;
    font-weight: 600;
}

.section1 {
    height: 85vh;
    width: 100%;
    display: grid;
    grid-template-rows: 80% 20%;
    gap: 60px;
}

.banner {
    width: 100%;
    border-radius: 20px;
    background-color: #0E1A2D;
    overflow: hidden;
}

.banner>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 40%;

}

.about {
    width: 100%;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
}

.cte-button {
    background-color: transparent;
    border-radius: 50px;
    padding: .8vw 1vw;
    color: rgb(13, 13, 13);
    border: 1px solid rgba(13, 13, 13, 0.2);
    font-size: 1vw;
}

.right-about {
    width: 99%;
    height: 100%;
    display: flex;
    justify-content: center;

    p {
        font-size: 1.58vw;
    }
}

.section2 {
    margin-top: 50px;
    display: grid;
    grid-template-rows: 1fr .5fr;
    height: 80vh;

    .details {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }

    .img1,
    .img2,
    .img3 {
        height: 100%;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
    }

    .img1 {
        background-color: #0D1A2D;
        padding: 2vw;
        color: white;
        display: grid;
        grid-template-rows: 15% 70% 15%;
        gap: 10px;

        .icon {
            font-size: 2vw;
        }

        .quote {
            h2 {
                font-weight: 100;
                font-size: 2.2vw;

                span {
                    opacity: 0.5;
                    ;
                }
            }
        }

        .switch {
            display: flex;
            align-items: center;
            gap: 10px;

            .outer {
                height: 28px;
                width: 60px;
                border-radius: 50px;
                background-color: #31B0FF;
                padding: 2px 4px;
                display: flex;
                justify-content: end;
                align-items: center;

                .inner {
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    border: 6px solid white;
                }
            }

            p {
                opacity: 0.5;
                font-weight: 100;
            }
        }
    }

    .img2 {
        background: linear-gradient(#0061BF, #4FB0EF);
        position: relative;
        padding: 2vw;

        img {
            position: absolute;
            bottom: 0;
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100%;
        }

        .badge {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            background-color: rgba(255, 255, 255, 0.4);
            padding: 1vw 1.5vw;
            border-radius: 50px;
            font-weight: 100;
        }
    }

    .img3 {
        background-color: #F7F8FC;
        padding: 2vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;

        div {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 5px;

            height: 50%;

            h2 {
                font-weight: lighter;
                font-size: 4vw;
            }

            h5 {
                font-size: 1vw;
                font-weight: lighter;
            }

            p {
                width: 90%;
                color: rgba(13, 13, 13, 0.5);
            }
        }

        .difficulty-levels {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 50%;

            .level {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                gap: 10px;

                h5 {
                    width: 25%;
                }

                .difficulty-level {
                    width: 50%;
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    .circle {
                        height: 10px;
                        width: 10px;
                        background-color: #31B0FF;
                        border-radius: 50%;
                    }
                }

                .difficulty-score {
                    text-align: right;
                }
            }
        }
    }
}



/* Media Queries */

/* Small Mobile Responsive */
@media (max-width: 450px) {

    .logo {
        font-size: 5vw !important;
    }

    nav,
    .book-now {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .section1 {
        gap: 10px;
    }

    .about {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }

    .cte-button {
        font-size: 2.5vw !important;
        padding: 1vw 2vw;
    }

    .right-about {
        p {
            font-size: 2.5vw;
            text-align: center;
            line-height: 13px;
        }
    }

}

/* Medium Mobile Responsive */

/* Large Mobile Responsive */

/* Tablet Responsive */
@media (max-width: 1030px) {
    .logo {
        font-size: 2.5vw;
    }

    nav>ul {
        gap: 4vw;
    }

    ul>li:first-child {
        border: 1px solid rgba(13, 13, 13, 0.2);
        border-radius: 50px;
        padding: 2px 15px;
    }

    nav>ul>li>a {
        font-size: 1.2vw;
    }

    .book-now {
        font-size: 1.2vw;
    }

    .cte-button {
        font-size: 1.5vw;
    }
}

/* Laptop Responsive */