* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.container {
    max-width: 1800px;
    width: 100%;
    margin-inline: auto;
    padding: 15px 20px;
}

header>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>ul {
    display: flex;
    align-items: center;
    gap: 6vw;
}

ul>li:first-child {
    border: 1px solid rgba(13, 13, 13, 0.2);
    border-radius: 50px;
    padding: 5px 10px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(13, 13, 13);
}

button {
    background-color: #0E1A2D;
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: lighter;
}

.burger-menu {
    display: none;
    font-size: 5vw;
    font-weight: 600;
}




/* Media Queries */

/* Small Mobile Responsive */
@media (max-width: 450px) {

    .logo {
        font-size: 5vw !important;
    }

    nav,
    .book-now {
        display: none;
    }

    .burger-menu {
        display: block;
    }

}

/* Medium Mobile Responsive */

/* Large Mobile Responsive */

/* Tablet Responsive */
@media (max-width: 1030px) {
    .logo {
        font-size: 2.5vw;
    }

    nav>ul {
        gap: 4vw;
    }

    ul>li:first-child {
        border: 1px solid rgba(13, 13, 13, 0.2);
        border-radius: 50px;
        padding: 2px 15px;
    }

    nav>ul>li>a {
        font-size: 1.2vw;
    }

    .book-now {
        font-size: 1.2vw;
    }
}

/* Laptop Responsive */